export PATH=`pwd`/bin:"${PATH}"

# change these if you are not running the demo as described in README.md
# export GIT_REPO_URI=https://github.com/crdant/cf-mgmt-demo
# export SYSTEM_DOMAIN=local.pcfdev.io
# export LDAP_PASSWORD=password
# export CONCOURSE_URL=http://192.168.100.4:8080
# export CONCOURSE_TARGET=lite 
# echo "uaa admin client is         id = admin            secret = admin-client-secret"
# echo "uaa cf-mgmt client is     - id = cf-mgmt          secret = cf-mgmt-secret
# echo "uaac token client get admin -s admin-client-secret"
# echo "uaac clients"
export GIT_REPO_URI=https://github.com/betht1220/cf-mgmt-demo
export SYSTEM_DOMAIN=dev.cfdev.sh # cfdev with hypervisor
export PCF_USER=admin
export PCF_PASSWORD=admin
export CLIENT_SECRET=admin-client-secret # admin-client-secret is in "bosh -d cf manifest"
export LDAP_URL=ldap://localhost:389
export LDAP_PASSWORD=admin # admin/admin or billy/billy
export CONCOURSE_URL=http://127.0.0.1:8080
export CONCOURSE_TARGET=ci # fly targets will give you the name "ci"
export CONCOURSE_TEAM=main
